:root {
    --White: hsl(0, 0%, 100%);
    --Stone-100: hwb(31 85% 5%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Young-serif";
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400 700;
}

body,html {
    margin: 3rem 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Stone-100);
    font-family: "Outfit";
    font-weight: 300;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.recipe-card {
    padding: 2rem;
    max-width: 45rem;

    background-color: var(--White);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.recipe-image-omelette {
    max-width: 100%;
    display: block;
    border-radius: 0.55rem;
    /* max-inline-size: 100%; */
}

.recipe-card-title {
    font-size: 2rem;
    font-family: "Young-serif";
    margin-bottom: 1rem;
}

.recipe-prep-title {
    color: var(--Rose-800);
    font-family: "Outfit";
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.recipe-title {
    color: var(--Brown-800);
    font-size: 1.7rem;
    font-family: "Young-serif";
    font-weight: 400;
    margin-bottom: 1rem;
}

.recpie-prep-time {
    padding: 1.5rem;
    background-color: var(--Rose-50);
    border-radius: 0.55rem;
    min-width: 100%;
}

.recpie-prep-time ul li::marker {
    color: var(--Rose-800);
}

.recpie-ingradients ul li::marker {
    color: var(--Brown-800);
}

.recipe-strong-label {
    font-weight: 600;
    color: var(--Stone-600);
}

.recpie-content {
    color: var(--Stone-600);
    font-weight: 400;
    line-height: 1.5;
}

ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recipe-intr-steps {
    padding-left: 1rem;
}

.recipe-intr-steps li::marker {
   font-weight: 700;
   color: var(--Brown-800);
}

.recipe-intr-steps li {
    padding-left: 1rem;
}

.recipe-nutrition-table {
    border-collapse: collapse;
    margin-top: 1rem;
    min-width: 100%;
}

.nutrition-label {
    color: var(--Stone-600);
    border-bottom: 1px solid var(--Stone-150);
    text-align: start;
    padding: 0.625rem;
}

.nutrition-value {
    color: var(--Brown-800);
    border-bottom: 1px solid var(--Stone-150);
    font-weight: 700;
}

.recipe-nutrition-table tr:last-child td {
  border-bottom: none;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--Stone-100);
}


